body {
    background: linear-gradient(rgb(229, 144, 191), rgb(35, 4, 119));
    height: 100vh;
    color: #3cc64e;
  }

.title{    /*esta funcion creara un estito de letra*/
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}

.done {
    text-decoration: line-through;
    color: #d78585; /*esta funcion se acftivara cuando este disponible el Done*/

}

